@import "../../assets/style/_colors.scss";

.navBar {
  background-color : $background-transparent;
  list-style       : none;
  margin           : 0;
  padding          : 0;

  & > a {
    display          : block;
    background-color : $background;
    padding          : 10px;
    font-size        : 16px;
    transition       : background-color .3s;

    &:hover:not(.router-link-active) {
      background-color : $nav-hover-bg;
    }

    &.router-link-active {
      background-color : $btn-bg;

      &:hover {
        background-color : $btn-hover-bg;
      }
    }

    &:not(:last-child) {
      margin-bottom : 6px;
    }

    & > .fa {
      margin-right : 5px;
    }
  }
}
