@import "../../assets/style/colors";

.progress-bar {
  position         : relative;
  width            : 100%;
  height           : 25px;
  background-color : $background;

  & > .bar {
    height           : 100%;
    width            : 0;
    background-color : $btn-bg;
  }

  & > .text {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -60%);
  }
}
